<div class="jumbotron" style="padding: 2rem 1rem !important;">
  <h1 style="margin-left: 140px;">Kategorie produktów</h1>
</div>

<div class="container" style="margin-top: 40px;">

  <button *ngIf="authService.currentUser?.role == 'ADMINISTRATOR' || authService.currentUser?.role == 'SERWISANT'"
          class="btn btn-info float-right" routerLink="/categories/add" style="margin-bottom: 20px; margin-right: 75px;"
          type="button">
    Dodaj kategorię produktu
  </button>

  <table class="table table-hover" style="margin-top: 10px;">
    <thead>
    <tr>
      <th>#</th>
      <th>Nazwa</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let category of categories">
      <td>{{category.position}}</td>
      <td>{{category.name}}</td>
      <td>
        <button type="button" class="btn btn-primary" (click)="previewCategory(category)">Szczegóły</button>
        <button (click)="editCategory(category)"
                *ngIf="authService.currentUser?.role == 'ADMINISTRATOR'" class="btn btn-warning"
                style="margin-left:5px;" type="button">Edytuj
        </button>
        <button (click)="open(category)"
                *ngIf="authService.currentUser?.role == 'ADMINISTRATOR'" class="btn btn-danger" style="margin-left:5px;"
                type="button">Usuń
        </button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
