<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" routerLink="">Strona startowa</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/clients">Klienci</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/products">Produkty</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/categories">Kategorie</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/producers">Producenci</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/orders">Zlecenia</a>
    </li>
    <!--<li class="nav-item">-->
    <!--<a class="nav-link" href="#">Informacje dla klienta</a>-->
    <!--</li>-->
    <li class="nav-item">
      <a class="nav-link" href="#">Serwisy</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/users">Pracownicy</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Statusy</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Części i usługi w serwisie</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Części</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Dokumenty sprzedaży</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Formy płatności</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/documentTypes">Rodzaje dokumentów</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Usługi</a>
    </li>
  </ul>
</nav>

<router-outlet></router-outlet>
