<nav *ngIf="router.url !== '/login'" class="navbar navbar-expand-sm bg-dark navbar-dark">
  <ul class="navbar-nav">
    <li
      *ngIf="authService.currentUser?.role == 'ADMINISTRATOR' || authService.currentUser?.role == 'SERWISANT' || authService.currentUser?.role == 'KASJER'"
      class="nav-item">
      <a class="nav-link" routerLink="/clients">Klienci</a>
    </li>
    <li
      *ngIf="authService.currentUser?.role == 'ADMINISTRATOR' || authService.currentUser?.role == 'SERWISANT' || authService.currentUser?.role == 'KASJER'"
      class="nav-item">
      <a class="nav-link" routerLink="/products">Produkty</a>
    </li>
    <li *ngIf="authService.currentUser?.role == 'ADMINISTRATOR' || authService.currentUser?.role == 'SERWISANT'"
        class="nav-item">
      <a class="nav-link" routerLink="/categories">Kategorie</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/producers">Producenci</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/orders">Zlecenia</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/informationsForClient">Informacje dla klienta</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/users">Pracownicy</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/serviceStatuses">Statusy serwisu</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/electronicServices">Serwisy</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/parts">Części</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/documents">Dokumenty sprzedaży</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/paymentTypes">Formy płatności</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/documentTypes">Rodzaje dokumentów</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/operations">Usługi</a>
    </li>
    <li style="margin-left: 30px; margin-top: 5px;">
      <i (click)="logout()" aria-hidden="true" class="nav-item fa fa-sign-out fa-2x"
         style="color: coral; cursor: pointer !important;"></i>
    </li>
  </ul>
</nav>

<router-outlet></router-outlet>
