<div class="jumbotron" style="padding: 2rem 1rem !important;">
  <h1 style="margin-left: 140px;">
    <i routerLink="/clients" class="fa fa-chevron-circle-left" style="margin-right: 40px; cursor: pointer"></i>
    Szczegóły klienta
  </h1>
</div>

<div class="container">
  <form #formBasic="ngForm" style="margin-top: 25px;">
    <div class="form-group row">
      <label for="name" class="col-2 col-form-label">Imię:</label>
      <input disabled [(ngModel)]="client.name" required type="text" class="col-6 form-control" [ngClass]="{'is-invalid': formBasic.submitted && name.invalid }" #name="ngModel" id="name" name="name">
      <div *ngIf="formBasic.submitted && name.invalid" class="invalid-feedback d-block">
        <div class="col-2" *ngIf="name.errors.required">Imię jest wymagane</div>
      </div>
    </div>

    <div class="form-group row">
      <label for="surname" class="col-2 col-form-label">Nazwisko:</label>
      <input disabled [(ngModel)]="client.surname" required type="text" class="col-6 form-control" [ngClass]="{'is-invalid': formBasic.submitted && surname.invalid }" #surname="ngModel" id="surname" name="surname">
      <div *ngIf="formBasic.submitted && surname.invalid" class="invalid-feedback d-block">
        <div class="col-2" *ngIf="surname.errors.required">Nazwisko jest wymagane</div>
      </div>
    </div>

    <div class="form-group row">
      <label for="gender" class="col-2 col-form-label">Płeć:</label>
      <input disabled [(ngModel)]="client.gender" required type="text" class="col-6 form-control" [ngClass]="{'is-invalid': formBasic.submitted && gender.invalid }" #gender="ngModel" id="gender" name="gender"  >
      <div *ngIf="formBasic.submitted && gender.invalid" class="invalid-feedback d-block">
        <div class="col-2" *ngIf="gender.errors.required">Płeć jest wymagana</div>
      </div>
    </div>

    <div class="form-group row">
      <label for="company" class="col-2 col-form-label">Firma:</label>
      <input disabled [(ngModel)]="client.company" type="text" class="col-6 form-control" id="company" name="company"  >
    </div>

    <div class="form-group row">
      <label for="regon" class="col-2 col-form-label">REGON:</label>
      <input disabled [(ngModel)]="client.regon" type="text" class="col-6 form-control" id="regon" name="regon"  >
    </div>

    <div class="form-group row">
      <label for="nip" class="col-2 col-form-label">NIP:</label>
      <input disabled [(ngModel)]="client.nip" type="text" class="col-6 form-control" id="nip" name="nip"  >
    </div>

    <div class="form-group row">
      <label for="city" class="col-2 col-form-label">Miasto:</label>
      <input disabled [(ngModel)]="client.city" required type="text" class="col-6 form-control" [ngClass]="{'is-invalid': formBasic.submitted && city.invalid }" #city="ngModel" id="city" name="city"  >
      <div *ngIf="formBasic.submitted && city.invalid" class="invalid-feedback d-block">
        <div class="col-2" *ngIf="city.errors.required">Miasto jest wymagane</div>
      </div>
    </div>

    <div class="form-group row">
      <label for="postalCode" class="col-2 col-form-label">Kod pocztowy:</label>
      <input disabled [(ngModel)]="client.postalCode" required type="text" class="col-6 form-control" [ngClass]="{'is-invalid': formBasic.submitted && postalCode.invalid }" #postalCode="ngModel" id="postalCode" name="postalCode"  >
      <div *ngIf="formBasic.submitted && postalCode.invalid" class="invalid-feedback d-block">
        <div class="col-2" *ngIf="postalCode.errors.required">Kod pocztowy jest wymagany</div>
      </div>
    </div>

    <div class="form-group row">
      <label for="street" class="col-2 col-form-label">Ulica i numer domu:</label>
      <input disabled [(ngModel)]="client.street" type="text" class="col-6 form-control" id="street" name="street"  >
    </div>

    <div class="form-group row">
      <label for="phone1" class="col-2 col-form-label">Numer telefonu:</label>
      <input disabled [(ngModel)]="client.phone1" required type="text" class="col-6 form-control" [ngClass]="{'is-invalid': formBasic.submitted && phone1.invalid }" #phone1="ngModel" id="phone1" name="phone1"  >
      <div *ngIf="formBasic.submitted && phone1.invalid" class="invalid-feedback d-block">
        <div class="col-2" *ngIf="phone1.errors.required">Numer telefonu jest wymagany</div>
      </div>
    </div>

    <div class="form-group row">
      <label for="phone2" class="col-2 col-form-label">Dodatkowy numer telefonu:</label>
      <input disabled [(ngModel)]="client.phone2" type="text" class="col-6 form-control" id="phone2" name="phone2"  >
    </div>

    <div class="form-group row">
      <label for="fax" class="col-2 col-form-label">Fax</label>
      <input disabled [(ngModel)]="client.fax" type="text" class="col-6 form-control" id="fax" name="fax"  >
    </div>

    <div class="form-group row">
      <label for="email" class="col-2 col-form-label">E-mail</label>
      <input disabled [(ngModel)]="client.email" type="email" class="col-6 form-control" id="email" name="email"  >
    </div>

    <div class="form-group row">
      <label for="www" class="col-2 col-form-label">Strona internetowa</label>
      <input [(ngModel)]="client.site" class="col-6 form-control" disabled id="www" name="www" type="text">
    </div>

  </form>

</div>
