<div class="jumbotron" style="padding: 2rem 1rem !important;">
  <h1 style="margin-left: 140px;">
    <i class="fa fa-chevron-circle-left" routerLink="/users" style="margin-right: 40px; cursor: pointer"></i>
    Szczegóły pracownika
  </h1>
</div>

<div class="container">
  <form #formBasic="ngForm" style="margin-top: 25px;">
    <div class="form-group row">
      <label class="col-2 col-form-label" for="login">Login:</label>
      <input #login="ngModel" [(ngModel)]="user.login" [ngClass]="{'is-invalid': formBasic.submitted && login.invalid }"
             class="col-6 form-control" disabled id="login" name="login" placeholder="Wprowadź login" required
             type="text">
      <div *ngIf="formBasic.submitted && login.invalid" class="invalid-feedback d-block">
        <div *ngIf="login.errors.required" class="col-2">Login jest wymagane</div>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-2 col-form-label" for="role">Funkcja:</label>
      <select #role="ngModel" [(ngModel)]="user.role" [ngClass]="{'is-invalid': formBasic.submitted && role.invalid }"
              class="col-6 form-control" disabled
              id="role"
              name="client" required>
        <option *ngFor="let role of roles" [value]="role">{{role}}</option>
      </select>
      <div *ngIf="formBasic.submitted && role.invalid" class="invalid-feedback d-block">
        <div *ngIf="role.errors.required" class="col-2">Rola jest wymagana</div>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-2 col-form-label" for="name">Imię:</label>
      <input #name="ngModel" [(ngModel)]="user.client.name"
             [ngClass]="{'is-invalid': formBasic.submitted && name.invalid }" class="col-6 form-control" disabled
             id="name" name="name" required type="text">
      <div *ngIf="formBasic.submitted && name.invalid" class="invalid-feedback d-block">
        <div *ngIf="name.errors.required" class="col-2">Imię jest wymagane</div>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-2 col-form-label" for="surname">Nazwisko:</label>
      <input #surname="ngModel" [(ngModel)]="user.client.surname"
             [ngClass]="{'is-invalid': formBasic.submitted && surname.invalid }" class="col-6 form-control" disabled
             id="surname" name="surname" required type="text">
      <div *ngIf="formBasic.submitted && surname.invalid" class="invalid-feedback d-block">
        <div *ngIf="surname.errors.required" class="col-2">Nazwisko jest wymagane</div>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-2 col-form-label" for="gender">Płeć:</label>
      <input #gender="ngModel" [(ngModel)]="user.client.gender"
             [ngClass]="{'is-invalid': formBasic.submitted && gender.invalid }" class="col-6 form-control" disabled
             id="gender" name="gender" required type="text">
      <div *ngIf="formBasic.submitted && gender.invalid" class="invalid-feedback d-block">
        <div *ngIf="gender.errors.required" class="col-2">Płeć jest wymagana</div>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-2 col-form-label" for="company">Firma:</label>
      <input [(ngModel)]="user.client.company" class="col-6 form-control" disabled id="company" name="company"
             type="text">
    </div>

    <div class="form-group row">
      <label class="col-2 col-form-label" for="regon">REGON:</label>
      <input [(ngModel)]="user.client.regon" class="col-6 form-control" disabled id="regon" name="regon" type="text">
    </div>

    <div class="form-group row">
      <label class="col-2 col-form-label" for="nip">NIP:</label>
      <input [(ngModel)]="user.client.nip" class="col-6 form-control" disabled id="nip" name="nip" type="text">
    </div>

    <div class="form-group row">
      <label class="col-2 col-form-label" for="city">Miasto:</label>
      <input #city="ngModel" [(ngModel)]="user.client.city"
             [ngClass]="{'is-invalid': formBasic.submitted && city.invalid }" class="col-6 form-control" disabled
             id="city" name="city" required type="text">
      <div *ngIf="formBasic.submitted && city.invalid" class="invalid-feedback d-block">
        <div *ngIf="city.errors.required" class="col-2">Miasto jest wymagane</div>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-2 col-form-label" for="postalCode">Kod pocztowy:</label>
      <input #postalCode="ngModel" [(ngModel)]="user.client.postalCode"
             [ngClass]="{'is-invalid': formBasic.submitted && postalCode.invalid }" class="col-6 form-control" disabled
             id="postalCode" name="postalCode" required type="text">
      <div *ngIf="formBasic.submitted && postalCode.invalid" class="invalid-feedback d-block">
        <div *ngIf="postalCode.errors.required" class="col-2">Kod pocztowy jest wymagany</div>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-2 col-form-label" for="street">Ulica i numer domu:</label>
      <input [(ngModel)]="user.client.street" class="col-6 form-control" disabled id="street" name="street" type="text">
    </div>

    <div class="form-group row">
      <label class="col-2 col-form-label" for="phone1">Numer telefonu:</label>
      <input #phone1="ngModel" [(ngModel)]="user.client.phone1"
             [ngClass]="{'is-invalid': formBasic.submitted && phone1.invalid }" class="col-6 form-control" disabled
             id="phone1" name="phone1" required type="text">
      <div *ngIf="formBasic.submitted && phone1.invalid" class="invalid-feedback d-block">
        <div *ngIf="phone1.errors.required" class="col-2">Numer telefonu jest wymagany</div>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-2 col-form-label" for="phone2">Dodatkowy numer telefonu:</label>
      <input [(ngModel)]="user.client.phone2" class="col-6 form-control" disabled id="phone2" name="phone2" type="text">
    </div>

    <div class="form-group row">
      <label class="col-2 col-form-label" for="fax">Fax</label>
      <input [(ngModel)]="user.client.fax" class="col-6 form-control" disabled id="fax" name="fax" type="text">
    </div>

    <div class="form-group row">
      <label class="col-2 col-form-label" for="email">E-mail</label>
      <input [(ngModel)]="user.client.email" class="col-6 form-control" disabled id="email" name="email" type="email">
    </div>

    <div class="form-group row">
      <label class="col-2 col-form-label" for="www">Strona internetowa</label>
      <input [(ngModel)]="user.client.www" class="col-6 form-control" disabled id="www" name="www" type="text">
    </div>

  </form>

</div>
