<div class="jumbotron" style="padding: 2rem 1rem !important;">
  <h1 style="margin-left: 140px;">
    <i routerLink="/categories" class="fa fa-chevron-circle-left" style="margin-right: 40px; cursor: pointer"></i>
    Szczegóły kategorii produktu
  </h1>
</div>

<div class="container">
  <form #formBasic="ngForm" style="margin-top: 25px;">
    <div class="form-group row">
      <label for="name" class="col-2 col-form-label">Nazwa:</label>
      <input disabled [(ngModel)]="category.name" required type="text" class="col-6 form-control" [ngClass]="{'is-invalid': formBasic.submitted && name.invalid }" #name="ngModel" id="name" name="name" >
      <div *ngIf="formBasic.submitted && name.invalid" class="invalid-feedback d-block">
        <div class="col-2" *ngIf="name.errors.required">Nazwa jest wymagana</div>
      </div>
    </div>

  </form>


</div>
